body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;padding: 0;
}
section{
     display: flex;
     margin-bottom: 100px;
}
#top-banner {
    justify-content: center;
    align-items: center;
    padding-left: 10%;
}

div.half-width{
  width: 50%;
}
div.half-width img{
    width: 85%;
    padding-left: 10%;
}
span.spicial-color{
    color: #058df7;
    font-weight: 900;
}
h1 {
    font-size: 50px;
}
a.button-color{text-decoration: none;
    background-image: linear-gradient(90deg,#058df7, #14bafc);
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 700;
    margin-top: 20px;
}
p {
    margin-bottom: 30px;
}
#about-me {
    background-image: url(imgs/img2.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-top: 50px;
        background-size: cover;
}
#about-me img{
    width: 60%;
}
.half-width.aboutme-section {
    padding-top: 100px;
}

.aboutme-section h2 {
    font-size: 32px;
}

































